<ul id="dwls-results">
	<% for(result_index in results) { if(results.hasOwnProperty(result_index)) { %>
		<li>
			<div class="dwls_thumbnail_wrapper" style="background:url(<%= results[result_index].thumbnail %>);"></div>
			<div class="dwls_title"><%= results[result_index].title %></div>
			<div class="dwls_excerpt"><%= results[result_index].excerpt %></div>
		</li>
	<% } } %>
</ul>